spring:
  application:
    name: notification-service
  boot:
    admin:
      client:
        enabled: true
        url: http://localhost:8080/monitoring-service
server:
  port: 8081
  servlet:
    context-path: /notification-service
#logging:
#  level:
#    org:
#      springframework:
#        web:
#          servlet:
#            DispatcherServlet: TRACE
