eureka:
  client:
    fetch-registry: false
    register-with-eureka: false
#    serviceURl:
#      defaultZone: http://archademiks-service-discovery:8081/eureka/

  # mail configs
spring:
# for email
  mail:
    host: smtp.gmail.com
    port: 587
    username: explorersanddevelopers@gmail.com
    password: pfxbmlqgsiknldmc
    properties:
      mail:
        transport:
          protocol: smtp
        smtp:
          auth:
          starttls:
            enable: true
  datasource:
    url: jdbc:mysql://localhost:3306/AKADEMI
    username: akademi
    password: Coo2022*
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        format_sql: true

logging:
  level:
    web: DEBUG
# actuator
management:
  endpoints:
    web:
      exposure:
        include: "*"