spring:
  application:
    name: LEARNING-MANAGEMENT-SYSTEM
  boot:
    admin:
      client:
        enabled: true
        url: https://monitoring-service.explorersanddevelopers.or.ke/monitoring-service
  flyway:
    enabled: true
    baseline-on-migrate: false
    table: lms-schema-version
    out-of-order: true
    validate-on-migrate: false
server:
  port: 0
  #  port: ${random.int(5000,5100)}
  address: 0.0.0.0
jwt:
  secret_key: secret
admin:
  email: explorersanddevelopers@gmail.com
service:
  notification:
    url: https://notification-service.explorersanddevelopers.or.ke/notification-service/mail/send-simple-message
  front-end:
    email-verification:
      url: https://akademi.explorersanddevelopers.or.ke/verify-email/
  payment:
    url:

management:
  endpoints:
    web:
      exposure:
        include: "*"
    health:
      show-details: always
logging:
  file:
    name: lms.logs
    path: ./logs
eureka:
  instance:
    appname: LEARNING-MANAGEMENT-SYSTEM
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://192.168.0.102:8001/eureka}
    register-with-eureka: true
    fetch-registry: true

