spring:
  datasource:
    url: jdbc:mysql://localhost:3306/AKADEMI
    username: akademi
    password: Coo2022*
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        format_sql: true
management:
  endpoints:
    web:
      exposure:
        include: "*"