spring:
  application:
    name: learning-management-system
  boot:
    admin:
      client:
        enabled: true
        url: http://localhost:8080/monitoring-service
server:
  port: 8083
  servlet:
    context-path: /lms
jwt:
  secret_key: secret
#logging:
#  level:
#    root: debug