spring:
  application:
    name: learning-management-system
  boot:
    admin:
      client:
        enabled: true
        url: https://monitoring-service.explorersanddevelopers.or.ke/monitoring-service
server:
  port: 8083
  servlet:
    context-path: /lms
jwt:
  secret_key: secret
admin:
  email: explorersanddevelopers@gmail.com
service:
  notification:
    url: https://notification-service.explorersanddevelopers.or.ke/notification-service/mail/send-simple-message
  front-end:
    email-verification:
      url: https://akademi.explorersanddevelopers.or.ke/verify-email/
  payment:
    url:

management:
  endpoints:
    web:
      exposure:
        include: "*"
    health:
      show-details: always
logging:
  file:
    name: lms.logs
    path: ./logs