spring:
#  mvc:
  #    pathmatch:
  #      matching-strategy: ant_path_matcher
  application:
    name: learning-management-system

server:
  servlet:
    context-path: /lms/api/v1
#
#logging:
#  level:
#    root: debug